@import "~bootstrap/scss/bootstrap.scss";

/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/
body{
    font-family: 'Raleway', sans-serif;
}

.list {
    width: 40%;
    margin: 0 auto;
}

.list-item i{
    float: right;
    visibility: hidden;
}

.list-item:hover i {
    float: right;
    visibility: visible;
}
